{% load i18n %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<body>
		<div>
                        <p>
                            {% trans "Hello World" %}
                        </p>
                </div>

                <div class="languages">

                <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}"/>

                        <select class="selectpicker" name="{% trans 'language' %}" style="width: auto;"
                                onchange="this.form.submit()">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}

                                <option
                                        value="{{ language.code }}"
                                        {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}
                                        data-content='<img src="/static/images/{{ language.code }}.png"></span>
                                                        <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                                                          {{ language.name_local }}
                                                          <!-- span style="color:#999;">&nbsp;[{{ language.code }}]</span -->
                                                        </span>'>
                                    {{ language.code }}
                                </option>

                            {% endfor %}
                        </select>
                    </form>

                </div>
</body>
</html>
